html {
  height: 100%;
  width: 100%;
}
body {
  background-color: lightpink;
}
h1 {
  color: white;
  font-family: 'Arial';
  border-style: double;
}
body {
  color:white; 
}
p {
  font-size: 25px;
}
